.content-container{
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: brown;
    margin-top: 10px;
}
button{
    width: 100px;
    height: auto;
    border: none;
    border-radius:5px;
    background-color:white;
    padding: 12px;
    color: rgb(10, 10, 10);
    margin-top: 10px;
}