.container{
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    justify-content: space-around;
    margin-bottom: 20px;
}
.box{
    width: 500px;
    min-width: 500px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 20px;
    margin-top: 30px;
    box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
    border-radius: 10px;
    background-color: brown;
}

input{
    width: 400px;
    padding: 5px;
    border: 1px solid;
    border-radius: 7px;
    color: black;
}
button{
    width: 100px;
    height: auto;
    border: none;
    border-radius:5px;
    background-color:rgb(243, 149, 149);
    padding: 6px;
    color: white;
    margin-top: 10px;
}